<div class="text-center mt-3">
  <h2>Résultats: {{pagination.totalItems}} Réléveurs</h2>
</div>

<form class="form-inline my-2 my-lg-0" #form="ngForm" 
(ngSubmit)="loadReleveur()" novalidate style="margin:auto;">
<mat-form-field>
  <mat-label>Localite</mat-label>
  <mat-select id="CodLocalite" [(ngModel)]="ReleveurParam.CodLocalite" name="CodLocalite">
    <mat-option *ngFor="let Localite of Localites" value="{{Localite.codLocalite}}">
      {{Localite.libLocalite}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Releveur</mat-label>
  <input  matInput placeholder="Ex. 001" id="IdReleveur" name="Releveur" 
  [(ngModel)]="ReleveurParam.Releveur">
</mat-form-field>

  <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
  <button type="button" class="btn btn-info" style="margin-left:10px" 
  (click)="Reset()">Reset Filter</button>
</form>
<br>




<hr>

<button mat-raised-button (click)="onCreate()">
  <mat-icon>add</mat-icon>Create
</button>


<hr>




<div class="mat-elavation-z8">
  <mat-table [dataSource]='ListReleveur' >
     <!-- Position Column -->
     <ng-container matColumnDef="Releveur">
      <mat-header-cell *matHeaderCellDef > No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.idReleveur}} </mat-cell>
    </ng-container>
  
   
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Localite">
      <mat-header-cell *matHeaderCellDef > Localite </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.libLocalite}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Username">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tspUsername}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="Password">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="openAlertDialog(row)" ><i class="fas fa-eye"></i>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onCreate(row)" ><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn" (click)="openDialog(row)"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':ListReleveur!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(ListReleveur!=null && ListReleveur.data.length==0)}"></mat-footer-row>
  </mat-table>
</div>




<div class="d-flex justify-content-center">
  <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [(ngModel)]="pagination.currentPage"
      [(itemsPerPage)]="pagination.itemsPerPage"
      (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

  </pagination>
</div>